/*--------------------------------------------------------------
>>> TABLE OF CONTENTS:
----------------------------------------------------------------
# widget
    - sidebar
    - Box sizing


--------------------------------------------------------------*/



/* header style
--------------------------------------------- */
/*Header top*/
.btop-menu {
    display: flex;
}

.btop-menu li {
    padding: 0 10px;
}
.beshop-tophead, 
.beshop-tophead a, 
.beshop-tophead span, 
.beshop-tophead input {
    font-size: 13px;
}
.beshop-tophead a:hover{
    color:#dedede;
}
.header-top-search input[type="submit"] {
    display: none;
}

.header-top-search input[type="search"] {
    width: 100%;
    padding: 3px 7px;
}
.header-top-search {
    width: 200px;
}
.header-top-search label {
    width: 100%;
    margin: 0;
}
.beshop-tophead .row{
    align-items: baseline;
}
/*header middle style*/
.beshop-header .site-title {
    font-weight: 700;
    text-transform: uppercase;
    letter-spacing: 1px;
}
h1.site-title a {
  font-size: 72px;
  color:#4169e1;
}
h1.site-title a:hover {
    text-decoration: none;
}
p.site-description {
    font-size: 18px;
}

p.site-description {
    position: relative;
    display: inline-block;
    padding: 5px 50px;
    z-index: 1;
}

p.site-description:before {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    content: "";
    background: #E0ECDE;
    z-index: -1;
}
.menu-logo p.site-description:before {
    position: inherit;
}
.menu-logo img {
    max-width: 200px;
    margin-bottom: 0;
    height: auto;
}
.beshop-headerimg-top img {
    width: 100%;
}
/* Widgets - sidebar
--------------------------------------------- */
h3.widget-title {
    text-align: center;
    font-size: 14px;
    text-transform: uppercase;
    background: #E0ECDE;
    padding: 10px 5px;
    margin-bottom: 20px;
}

.widget ul {
    margin: 0;
    padding: 0;
    list-style: none;
}

.widget ul li {
    margin-bottom: 5px;
    padding-bottom: 5px;
    border-bottom: 1px solid #ededed;
}

.widget ul li:last-child {
    border: none;
}
.widget .search-form label,.widget .search-form label input {
    width: 100%;
}

.widget .search-form input.search-submit {
    width: 100%;
    border: 2px solid #000;
    background: transparent;
    text-transform: uppercase;
    height: 33px;
    color:#000;
}

.widget .search-form input {
    padding: 5px 9px;
    height: 35px;
}

.widget .search-form input.search-submit:hover {
    background: #000;
    color: #fff;
}
h3.widget-title,
h2.widget-title {
    text-align: center;
    font-size: 14px;
    text-transform: uppercase;
    background: #E0ECDE;
    padding: 10px 5px;
    margin-bottom: 20px;
}
.footer-widget, 
.footer-widget p, 
.footer-widget a, 
.footer-widget #wp-calendar caption,
.footer-widget .search-form input.search-submit{
    color: #fff;
}

.footer-widget .widget-title {
    color: #000;
}

.footer-widget ul li {
    border-bottom: 1px solid #555;
}
p.footer-copyright {
    margin-bottom: 5px;
}
/*content style*/
.entry-meta, .entry-meta a {
    font-size: 12px;
    color: #0d996f;
}
.sticky .entry-header, 
.tag-sticky-2 .entry-header {
    text-align: center;
    margin-bottom: 2rem;
}
.bshop-list-flex,
.bshop-simple-list{
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
}

.beshop-blog-text,
.beshop-blog-img {
    width: 50%;
}
.beshop-blog-img a {
    display: block;
}
.beshop-blog-img img {
    width: 100%;
}
.beshop-blog-img {
    -ms-flex-preferred-size: 550px;
        flex-basis: 550px;
}

.beshop-btext,.bshop-simple-list.hasimg,
.widget-area .widget,
.site-footer,
.archive-header,
.search-header,
.beshop-page,
.site-main .comment-navigation, 
.site-main .posts-navigation, 
.site-main .post-navigation,
.site-footer,
.bshop-blog-list,
.bshop-single-list,
.comments-area {
    -webkit-box-shadow: 0 0 70px rgba(0,0,0,.11);
            box-shadow: 0 0 70px rgba(0,0,0,.11);
    padding: 20px;
    background: #fff;
}

.beshop-btext {
    margin-left: -120px;
}
.bshop-simple-list.hasimg .beshop-btext {
    -webkit-box-shadow: inherit;
    box-shadow: inherit;
    padding: 0 0 0 15px;
    background: transparent;
}
.bshop-simple-list .beshop-btext {
    margin-left: 0;
}
.no-img .beshop-btext{
    margin-left: 0;
}

.beshop-blog-text {
    -ms-flex-item-align: center;
        -ms-grid-row-align: center;
        align-self: center;
    position: relative;
    overflow: inherit;
}
.no-img .beshop-blog-text {
    -webkit-box-flex: 1;
        -ms-flex-positive: 1;
            flex-grow: 1;
}
.entry-footer, 
.entry-footer a {
    font-size: 12px;
}
.entry-footer {
    background: #E0ECDE;
    padding: 15px 10px;
    text-align: center;
    margin: 35px 0 20px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    width: 100%;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
}
.page .entry-footer {
    display: inline-block;
    width: auto;
    background: inherit;
}
form.post-password-form {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    text-align: center;
}

form.post-password-form p {
    width: 100%;
}
.entry-footer, .entry-footer a {
    font-size: 12px;
}
.entry-footer span {
    margin-right: 15px;
}

.site-footer,.site-main .comment-navigation, 
.site-main .posts-navigation, 
.site-main .post-navigation {
    background: #E0ECDE;
}


@media screen and (max-width: 992px) {
    .bshop-list-flex, 
    .bshop-simple-list {
        flex-direction: column;
    }
    .beshop-blog-text, 
    .beshop-blog-img {
        width: 100%;
        -ms-flex-preferred-size: inherit;
            flex-basis: inherit;
    }
    .beshop-blog-img img {
        margin-bottom: 15px;
    }
    .bshop-list-flex {
        -webkit-box-orient: horizontal;
        -webkit-box-direction: normal;
            -ms-flex-flow: row wrap;
                flex-flow: row wrap;
    }
    .beshop-btext {
        margin-left: 0;
    }
    .main-navigation ul> li.befocus.menushow> ul.sub-menu,
    .main-navigation ul> li.befocus.menushow> ul.children{
        display: none !important;
    }

}
